Button{
	-fx-background-color:#D8D8D8;
	-fx-background-radius:30;
	-fx-border-radius:30;
	-fx-text-fill:#000000;	
	-fx-font-family:"³ª´®°íµñ";
}
#label{
	-fx-font-size:60;
	-fx-font-weight:bold;
	-fx-font-family : "Liberty BT";
	-fx-text-fill:gray;	
	-fx-effect:dropshadow(three-pass-box, #D5D5D5, 3,0.5,2,2)
}

Button:hover{
	-fx-font-family:"³ª´®°íµñ";
	-fx-cursor:hand;
	-fx-background-color:#8C8C8C;
	-fx-border-color:#8C8C8C;
	-fx-background-radius:30;
	-fx-border-radius:30;
	-fx-effect:dropshadow(three-pass-box, #D5D5D5, 3,0.5,2,2)
}
 .table-view .column-header, .table-view .filler {
    -fx-background-color: #8C8C8C;
       -fx-font-weight:bold;
    -fx-text-fill: white;
}  
.table-view .column-header .label {
    -fx-font-weight:bold;
    -fx-text-fill: white;
 	-fx-font-family:"³ª´®°íµñ";
    -fx-opacity: 1.0;
}
.table-view .cell{
  -fx-font-family:"³ª´®°íµñ";
  -fx-text-fill: black;
  -fx-alignment: center;
  -fx-opacity: 1;
  -fx-border-color:white;
  -fx-background-color: white;
}
 .table-row-cell:selected .text {
 	-fx-font-size:15;
 	-fx-font-family:"³ª´®°íµñ";
 	-fx-fill : black;
 	-fx-border-color:white;
 	-fx-font-weight : bold;
}
